.resultDisplay iframe {
    max-width: 100%;
}

.resultsContainer {
    padding-right: 5px;
    padding-left: 5px;
    /* margin-top: 55px; use with sticky nav */
}

.resultsButton {
    margin-left: 2.5%;
    max-width: 95%;
    margin-top: 5px;
}

.actualResults {
    height: 100vh;
}

.btn {
    background-color: #3fd8a5;
    color: white;
    font-weight: 900;
}