.cards {
    margin: 0 auto;
}

.card-img-top {
    width: 90%;
    height: 45%;
    border-radius: 50%;
    border: solid 3px black;
}

.card {
    border: solid 2px black;
    height: 450px;
    padding-top: 1%;
    padding-bottom: 5%;
    margin: 20px 50px;
    background-color: coral;
}