.App {
  text-align: center;
}

.navbar {
  background-color: #ed186a;
  /* below to make sticky navbar
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; */
}

.navbar-brand {
  color: white;
  margin-left: 3%;
}

.navbar-brand:hover {
  color: white;
}
